/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/styles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@keyframes dropTop {
    0% {
      transform: translateY(-100%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0%) scale(1);
      opacity:1;
  }
}
